* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    height: 100vh;
    margin: 0;
    background-image: url("/static/Batman-logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-bottom: 20px;
    margin-top: 10px;
    position: fixed;
    left: 50%;
    text-shadow: 0px 0px 10px yellow;
    transform: translate(-50%, 20%);
}
.container {
    text-align: center;
    z-index:1000;
    position: fixed;
}
#Register {
    margin-top: 50px;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
}
.buttonS {
    /* margin: 0 3%; */
    padding: 10px 10px 10px 10px;
    /* padding: 10px 20px; */
    color: white;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.498);
    border: 2px solid yellow;
    border-radius: 35px;
    min-width: 200px;
    cursor: pointer;
    transition: all .5s ease;
}

.buttonS:hover {
    background: linear-gradient(black, gold);
    border: 2px solid gray;
    transform: scale(1.025);
}
#formContainer {
    margin-top: 10px;
    z-index: 1000;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    width: fit-content;
}
.hidden {
    display: none;
}

#searchContainer {
    margin-top: 20px;
}

input,
.buttonS {
    margin: 5px;
}
#myForm {
    min-width: 250px;
    /* width: 100%; */
    padding: 10px;
    background: linear-gradient(rgba(128, 128, 128), black);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    z-index:  1231;
}

#myForm:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

label {
    position:fixed;
    left: 1.8rem;
    font-size: 12px;
    background-color: goldenrod;
}

input {
    background-color: transparent;
    width: calc(100% - 16px);
    padding: 10px;
    padding-top: 13px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid greenyellow;
    border-radius: 4px;
    color: wheat;
    transition: border-color 0.3s ease-in-out;
}
input:focus {
    border-color: #4caf50;
    background: white;
    color: #0b0b0b;
}

#submitFormButton {
    
    background-color: #4caf50;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
#searchFir {
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
