<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />

    <title>Crime Diesel</title>
  </head>
  <body>
    <!-- section for home page START -->
    <section id="section_1">
      <input type="checkbox" id="check" />
      <header>
        <h1><a href="#" class="logo">CRIME DIESEL</a></h1>
        <div class="nav">
          <a href="#section_1">Home</a>
          <a href="#section_2">Login</a>
          <a href="#section_3">About Us</a>
        </div>
        <label for="check">
          <i class="fa-solid fa-bars"></i>
          <i class="fa-regular fa-circle-xmark"></i>
        </label>
      </header>
      <div class="container">
        <div class="content">
          <h2>Fighting For <span>Justice</span></h2>
          <h2>Burning The <span class="specialH2">Crime</span></h2>
          <p>
            We all know that Crime and Illegal Acts are one of the most raising problems of the modern World, especially India where the Crime Rate is one of the highest.
            To fight against this unstoppable Criminal Incidents, We are introducing "CRIME DIESEL", a decentralised platform which would every citizen to fight for Justice. 
          </p>
        </div>
        <div class="photo">
          <img
            id="mainPh"
            style="z-index: 2"
            src="{{url_for('static', filename = 'justice.svg')}}"
            alt=""
          />
          <img
            style="z-index: 1"
            id="testBalance"
            src="https://media.tenor.com/P7qE_2iXLQMAAAAC/justice-democracy.gif"
            alt=""
            srcset=""
          />
        </div>
      </div>
    </section>
    <!-- section of HOME page ENDS -->

    <!-- section of LOGIN page STARTS -->
    <section id="section_2">
      <div class="marquee">
        <h2>METAMASK-LOG_IN~</h2>
        <h2>METAMASK-LOG_IN~</h2>
        <h2>METAMASK-LOG_IN~</h2>
        <h2>METAMASK-LOG_IN~</h2>
        <h2>METAMASK-LOG_IN~</h2>
        <h2>METAMASK-LOG_IN~</h2>
      </div>
      <div class="login">
        <div class="box">
          <h2>USERS</h2>
          <p>
            Normal Citizens should login with their Metamask login Id to get access to the feature of registering cases and FIRs to help the Official Organizations identify and catch the culprit.
          </p>
          <div class="button">
            <button id="loginbuttonuser">Connect to Metamask</button>
          </div>
          <p id="status"></p>
        </div>
        <div class="box">
          <h2>ORGANIZATION</h2>
          <p>
            The Government Organizations are given access to register new cases and FIRs against the Criminals with evidences and can approve and resolve the User's cases.
          </p>
          <div class="button">
            <button id="loginbuttonorg">Connect to Metamask</button>
          </div>
          <p id="status"></p>
        </div>
      </div>
    </section>
    <!-- section of LOGIN page ENDS -->

    <!-- section of About us page Starts-->
    <section id="section_3">
      <div class="intro">
        <h2>ABOUT US</h2>
        <p>
          We, HETC.eth brings hope for justice to the fellow
          citizens all over the world to register Cases, decreasing Crime rates,
          without any fear and regrets. Moreover, we also give access to Users to 
          view whether their cases has been approved and resolved or not.
        </p>
      </div>
      <div class="about">
        <div class="holder">
          <div class="card">
            <div class="profile">
              <div class="pic">
                <img src="{{url_for('static', filename = 'ARGY.jpg')}}" alt="" />
              </div>
              <h3>ARGHYA CHOWDHURY</h3>
              <p>
                Web-3 and AI Developer
              </p>
            </div>
            <div class="s1"></div>
            <div class="s2"></div>
          </div>
          <div class="card">
            <div class="profile">
              <div class="pic">
                <img src="{{url_for('static', filename = 'DEV.jpg')}}" alt="" />
              </div>
              <h3>DEVJYOTI BANERJEE</h3>
              <p>
                Front-End and AI Developer 
              </p>
            </div>
            <div class="s1"></div>
            <div class="s2"></div>
          </div>
          <div class="card">
            <div class="profile">
              <div class="pic">
                <img src="{{url_for('static', filename = 'MAYUKH.jpg')}}" alt="" />
              </div>
              <h3>MAYUKH SEN</h3>
              <p>
                Smart Contract Developer
              </p>
            </div>
            <div class="s1"></div>
            <div class="s2"></div>
          </div>
          <div class="card">
            <div class="profile">
              <div class="pic">
                <img src="{{url_for('static', filename = 'SAYAN.jpg')}}" alt="" />
              </div>
              <h3>SAYAN GENRI</h3>
              <p>
                Javascript and Web-3 Developer
              </p>
            </div>
            <div class="s1"></div>
            <div class="s2"></div>
          </div>
          <div class="card">
            <div class="profile">
              <div class="pic">
                <img src="{{url_for('static', filename = 'SOHAM.jpg')}}" alt="" />
              </div>
              <h3>SOHAM DE</h3>
              <p>
                Full Stack Python and Web-3 Developer
              </p>
            </div>
            <div class="s1"></div>
            <div class="s2"></div>
          </div>
        </div>
      </div>
    </section>
    <!-- section of About us page ends-->

    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </body>
</html>
