<!DOCTYPE html> 
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Userpage</title>
    <link rel="stylesheet" href="/static/userpage.css" />
    <script src="https://cdn.jsdelivr.net/npm/web3@1.3.6/dist/web3.min.js"></script>
  </head>

  <body>
    <h1>Login as User</h1>
    <div class="container" id="Register">
      <br />
      <button class="buttonS" id="openFormButton">Register FIR</button>
      <div id="formContainer" class="hidden">
        <form id="myForm">
          <label for="name"> TITLE: </label>
          <input type="text" id="name" name="name" required />
          <br />
          <label for="details"> DESCRIPTION: </label>
          <input type="details" id="details" name="details" required />
          <br />
          <button class="buttonS" type="button" id="submitFormButton">
            Submit
          </button>
        </form>
      </div>
    </div>
    <div class="container" id="searchFir">
      <button class="buttonS" id="SeeFirButton">View FIR</button>
    </div>
    <div class="firWrapper" id="firContainer" style="display: none"></div>
    <div id="firDetailsContainer"></div>
    <script src="{{ url_for('static', filename='fir_chain.js') }}"></script>
    <script src="{{ url_for('static', filename='userpage.js') }}"></script>
  </body>
</html>